<ion-header class="header-gradient">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start" defaultHref="/menu" icon="chevron-back-outline"></ion-back-button>
    <ion-buttons slot="end">

      <ion-button (click)="bntShare()" aria-label="Compartir">
        <img src="../../../assets/img/icono_compartir.png" alt="Compartir" style="width: 25px;" />
      </ion-button>
      <ion-button (click)="openMenu()" aria-label="Menú">
        <img src="../../../assets/img/icono_menu.png" alt="Menú" style="width: 30px; height: 25px;" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="text-header" slot="start">
     Tarot diario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-row>
  <ion-col size="10" offset="1" *ngIf="responseCard">
    <div class="box-card" *ngFor="let c of cards; trackBy: trackByCardId">
      <div class="carta" >
        <img [src]="c.image" alt="Carta de tarot" style="" width="100%" height="" />
      </div>
      <div class="detalle">
        <div class="title">{{c.name}}</div>
        <div class="parrafo">
          <p *ngFor="let t of buscarParrafosTexto(c.name); trackBy: trackByIndex">{{t}}</p>
        </div>
      </div>
    </div>
  </ion-col>

  <ion-col size="10" offset="1" *ngIf="responseCard">
    <div class="centrado box-resumen">
      <div class="box-title">
        <ion-text class="text-title">
          <p *ngFor="let r of resumen; trackBy: trackByIndex">{{r}}</p>
        </ion-text>
      </div>
    </div>
  </ion-col>


  <ion-col size="10" offset="1" *ngIf="!loadinfo">
    <ion-list class="transparent-list">
      <ion-text class="text-recomendacion">
        Te recomiendo estos rituales para tu caso:
      </ion-text>
      <div class="centrado" *ngIf="subject=='Dinero'">
        <div class="box-title">
          <ion-text class="text-title">
            DINERO:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Dinero'">
        <ion-item *ngFor="let video of videos; trackBy: trackByTitle" class="transparent-item">
          <ion-button color="tertiary" (click)="openYouTubeVideo(video.url)">
            <ion-icon slot="start" name="logo-youtube"></ion-icon>
            {{ video.title }}
          </ion-button>
        </ion-item>
      </div>
      <div class="centrado" *ngIf="subject=='Salud'">
        <div class="box-title">
          <ion-text class="text-title">
            SALUD:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Salud'">
        <ion-item *ngFor="let videosalud of videossalud; trackBy: trackByTitle" class="transparent-item">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videosalud.url)">
            <ion-icon slot="start" name="logo-youtube"></ion-icon>
            {{ videosalud.title }}
          </ion-button>
        </ion-item>
      </div>

      <div class="centrado" *ngIf="subject=='Amor'">
        <div class="box-title">
          <ion-text class="text-title">
            AMOR:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Amor'">
        <ion-item *ngFor="let videoamor of videosamor; trackBy: trackByTitle" class="transparent-item">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videoamor.url)">
            <ion-icon slot="start" name="logo-youtube"></ion-icon>
            {{ videoamor.title }}
          </ion-button>
        </ion-item>
      </div>

      <div class="centrado" *ngIf="subject=='Trabajo'">
        <div class="box-title">
          <ion-text class="text-title">
            TRABAJO:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Trabajo'">
        <ion-item *ngFor="let videotrabajo of videostrabajo; trackBy: trackByTitle" class="transparent-item">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videotrabajo.url)">
            <ion-icon slot="start" name="logo-youtube"></ion-icon>
            {{ videotrabajo.title }}
          </ion-button>
        </ion-item>
      </div>

    </ion-list>
  </ion-col>
  <ion-col size="10" offset="1" class="mb-2" *ngIf="!loadinfo">
    <div class="button-container-result">
      <ion-button class="gradient-button-result" mode="md" (click)="irPaginaTarot()">
       <div>
        <div> Si quieres un trabajo personalizado pincha aquí</div>
        <!-- <div class="text-small">(y te lleva al apartado de Trabajos Personalizados Bajo Pago)</div> -->
       </div>
      </ion-button>
    </div>
  </ion-col>
  <ion-col size="10" offset="1" *ngIf="!loadinfo">
    <div class="button-container-result">
      <ion-button class="gradient-button-result" mode="md" (click)="makeCall('+34910209955')">
        <img src="../../../assets/img/icono_tel.png" alt="Llamar" class="ico-llamar">
       <div>
        <div> LLAMA AHORA  A MI LÍNEA</div>
        <div class="text-small">Y ESCUCHA LA LECTURA COMPLETA</div>
       </div>
      </ion-button>
    </div>
  </ion-col>
  <ion-col size="10" offset="1">
    <div *ngIf="errorMsg" style="text-align: center; padding: 20px; color: #ff6b6b;">
      <p>{{ errorMsg }}</p>
      <ion-button fill="outline" size="small" (click)="retry()">Reintentar</ion-button>
    </div>
  </ion-col>
</ion-row>
</ion-content>
