<ion-header class="header-gradient">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start" defaultHref="/menu" icon="chevron-back-outline" aria-label="Volver al menú"></ion-back-button>
    <ion-buttons slot="end">

      <ion-button (click)="bntShare()" aria-label="Compartir">
        <img src="../../../assets/img/icono_compartir.png" alt="Compartir" style="width: 25px;" />
      </ion-button>
      <ion-button (click)="openMenu()" aria-label="Abrir menú de navegación">
        <img src="../../../assets/img/icono_menu.png" alt="Menú" style="width: 30px; height: 25px;" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="text-header" slot="start">
     Tarot diario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" role="main">

<ion-row>
  <ion-col size="10" offset="1" *ngIf="responseCard">
    <div class="box-card" *ngFor="let c of cards; trackBy: trackByCardId">
      <div class="carta">
        <img [src]="c.image" [alt]="'Carta de tarot: ' + c.name" width="100%" height="" loading="lazy" />
      </div>
      <div class="detalle">
        <div class="title" role="heading" aria-level="2">{{c.name}}</div>
        <div class="parrafo">
          <p *ngFor="let t of buscarParrafosTexto(c.name); trackBy: trackByIndex">{{t}}</p>
        </div>
      </div>
    </div>
  </ion-col>

  <ion-col size="10" offset="1" *ngIf="responseCard">
    <div class="centrado box-resumen">
      <div class="box-title" role="heading" aria-level="2">
        <ion-text class="text-title">
          <p *ngFor="let r of resumen; trackBy: trackByIndex">{{r}}</p>
        </ion-text>
      </div>
    </div>
  </ion-col>


  <ion-col size="10" offset="1" *ngIf="!loadinfo">
    <ion-list class="transparent-list" role="list">
      <ion-text class="text-recomendacion" role="heading" aria-level="3">
        Te recomiendo estos rituales para tu caso:
      </ion-text>
      <div class="centrado" *ngIf="subject=='Dinero'">
        <div class="box-title">
          <ion-text class="text-title" role="heading" aria-level="4">
            DINERO:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Dinero'" role="list">
        <ion-item *ngFor="let video of videos; trackBy: trackByTitle" class="transparent-item" role="listitem">
          <ion-button color="tertiary" (click)="openYouTubeVideo(video.url)" [attr.aria-label]="'Ver vídeo de YouTube: ' + video.title">
            <ion-icon slot="start" name="logo-youtube" aria-hidden="true"></ion-icon>
            {{ video.title }}
          </ion-button>
        </ion-item>
      </div>
      <div class="centrado" *ngIf="subject=='Salud'">
        <div class="box-title">
          <ion-text class="text-title" role="heading" aria-level="4">
            SALUD:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Salud'" role="list">
        <ion-item *ngFor="let videosalud of videossalud; trackBy: trackByTitle" class="transparent-item" role="listitem">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videosalud.url)" [attr.aria-label]="'Ver vídeo de YouTube: ' + videosalud.title">
            <ion-icon slot="start" name="logo-youtube" aria-hidden="true"></ion-icon>
            {{ videosalud.title }}
          </ion-button>
        </ion-item>
      </div>

      <div class="centrado" *ngIf="subject=='Amor'">
        <div class="box-title">
          <ion-text class="text-title" role="heading" aria-level="4">
            AMOR:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Amor'" role="list">
        <ion-item *ngFor="let videoamor of videosamor; trackBy: trackByTitle" class="transparent-item" role="listitem">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videoamor.url)" [attr.aria-label]="'Ver vídeo de YouTube: ' + videoamor.title">
            <ion-icon slot="start" name="logo-youtube" aria-hidden="true"></ion-icon>
            {{ videoamor.title }}
          </ion-button>
        </ion-item>
      </div>

      <div class="centrado" *ngIf="subject=='Trabajo'">
        <div class="box-title">
          <ion-text class="text-title" role="heading" aria-level="4">
            TRABAJO:
          </ion-text>
        </div>
      </div>
      <div *ngIf="subject=='Trabajo'" role="list">
        <ion-item *ngFor="let videotrabajo of videostrabajo; trackBy: trackByTitle" class="transparent-item" role="listitem">
          <ion-button color="tertiary" (click)="openYouTubeVideo(videotrabajo.url)" [attr.aria-label]="'Ver vídeo de YouTube: ' + videotrabajo.title">
            <ion-icon slot="start" name="logo-youtube" aria-hidden="true"></ion-icon>
            {{ videotrabajo.title }}
          </ion-button>
        </ion-item>
      </div>

    </ion-list>
  </ion-col>
  <ion-col size="10" offset="1" class="mb-2" *ngIf="!loadinfo">
    <div class="button-container-result">
      <ion-button class="gradient-button-result" mode="md" (click)="irPaginaTarot()">
       <div>
        <div> Si quieres un trabajo personalizado pincha aquí</div>
       </div>
      </ion-button>
    </div>
  </ion-col>
  <ion-col size="10" offset="1" *ngIf="!loadinfo">
    <div class="button-container-result">
      <ion-button class="gradient-button-result" mode="md" (click)="makeCall(phoneNumber)" aria-label="Llamar al +34 910 209 955 para escuchar la lectura completa">
        <img src="../../../assets/img/icono_tel.png" alt="Icono de teléfono" class="ico-llamar" loading="lazy">
       <div>
        <div> LLAMA AHORA  A MI LÍNEA</div>
        <div class="text-small">Y ESCUCHA LA LECTURA COMPLETA</div>
       </div>
      </ion-button>
    </div>
  </ion-col>
  <ion-col size="10" offset="1">
    <div *ngIf="errorMsg" style="text-align: center; padding: 20px; color: #ff6b6b;" aria-live="polite">
      <p>{{ errorMsg }}</p>
      <ion-button fill="outline" size="small" (click)="retry()">Reintentar</ion-button>
    </div>
  </ion-col>
</ion-row>
</ion-content>
