<ion-content [fullscreen]="false">
  <div class="box-container">
    <div class="gradient-button-box">
      <ion-icon name="caret-down-outline" class="ico-caret"></ion-icon>
      Haz tu elección
      <ion-icon name="caret-down-outline" class="ico-caret"></ion-icon>
    </div>
  </div>

  <div class="list">
    <div class="centrado" (click)="irDetalleTarotDiario()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-tarot-diario.png" alt="Logo" class="img-list">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Tarot diario
        </ion-text>
      </div>
    </div>

    <div class="centrado" (click)="irDetalleTarotPregunta()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-tarot-si-no.png" alt="Logo" class="img-list">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Tarot Sí o No
        </ion-text>
      </div>
    </div>

    <div class="centrado" (click)="irTrabajoPersonalizados()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/personalizados.png" alt="Logo" class="img-list">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Trabajos personalizados bajo pago
        </ion-text>
      </div>
    </div>

    <div class="centrado" (click)="irRituales()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/rituales.png" alt="Logo" class="img-list">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Rituales gratuitos
        </ion-text>
      </div>
    </div>

    <div class="centrado" (click)="irHoroscopo()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-horoscopo.png" alt="Logo" class="img-list">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
         Horóscopo
        </ion-text>
      </div>
    </div>

  </div>



</ion-content>
