<ion-content [fullscreen]="false" role="main">
  <div class="box-container">
    <div class="gradient-button-box" role="heading" aria-level="1">
      <ion-icon name="caret-down-outline" class="ico-caret" aria-hidden="true"></ion-icon>
      Haz tu elección
      <ion-icon name="caret-down-outline" class="ico-caret" aria-hidden="true"></ion-icon>
    </div>
  </div>

  <div class="list" role="list">
    <div class="centrado" role="button" tabindex="0" (click)="irDetalleTarotDiario()" (keydown.enter)="irDetalleTarotDiario()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-tarot-diario.png" alt="Tarot diario" class="img-list" loading="lazy">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Tarot diario
        </ion-text>
      </div>
    </div>

    <div class="centrado" role="button" tabindex="0" (click)="irDetalleTarotPregunta()" (keydown.enter)="irDetalleTarotPregunta()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-tarot-si-no.png" alt="Tarot Sí o No" class="img-list" loading="lazy">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Tarot Sí o No
        </ion-text>
      </div>
    </div>

    <div class="centrado" role="button" tabindex="0" (click)="irTrabajoPersonalizados()" (keydown.enter)="irTrabajoPersonalizados()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/personalizados.png" alt="Trabajos personalizados" class="img-list" loading="lazy">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Trabajos personalizados bajo pago
        </ion-text>
      </div>
    </div>

    <div class="centrado" role="button" tabindex="0" (click)="irRituales()" (keydown.enter)="irRituales()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/rituales.png" alt="Rituales gratuitos" class="img-list" loading="lazy">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
          Rituales gratuitos
        </ion-text>
      </div>
    </div>

    <div class="centrado" role="button" tabindex="0" (click)="irHoroscopo()" (keydown.enter)="irHoroscopo()">

      <div class="box-img">
        <img src="../../../assets/img/horoscopo/icono-horoscopo.png" alt="Horóscopo" class="img-list" loading="lazy">
      </div>
      <div class="box-title">
        <ion-text class="text-title">
         Horóscopo
        </ion-text>
      </div>
    </div>

  </div>



</ion-content>
