.titulo{
    font-family: "Ubuntu";
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}

ion-card{
  background-color: transparent;
}

.box-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
