.box-card  {
    display: block;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    margin-top: 40px;
}

.carta {
    width: 200px;
    height: 350px;
    margin: 0 auto;
}

.parrafo {
    color: white;
    font-size: 15px;
    font-family: "Ubuntu";
    line-height: 1.3;
    margin-left: 10px;


}

ion-icon {
  margin-right: 8px;
  color: #ff0000; /* Color rojo de YouTube para el ícono */
}
.text-title{
  color: #fff;
  font-weight: 700;
}
.box-title{
  font-size: 1rem;
  margin-top: 10px;

}

ion-button {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
}
