<ion-header class="header-gradient">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start" defaultHref="/menu" icon="chevron-back-outline"></ion-back-button>
    <ion-buttons slot="end">

      <ion-button>
        <img src="../../../assets/img/icono_compartir.png" alt="Menu" style="width: 25px;" />
      </ion-button>
      <ion-button (click)="openMenu()">
        <img src="../../../assets/img/icono_menu.png" alt="Menu" style="width: 30px; height: 25px;" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="text-header" slot="start">
     
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="box-container">
  

    
   

      <ion-row>
        <ion-col size="10" offset="1">
          <div class="box-title">
            <ion-text class="text-title">
              Política de privacidad
            </ion-text>
          </div>
          <div class="parrafo">
            <p><strong>Responsable del tratamiento</strong><br>
            María Fernández Fernández es la responsable del tratamiento de los datos personales recogidos a través de esta aplicación.</p>

            <p><strong>Datos que se recopilan</strong><br>
            Esta aplicación puede recopilar datos relativos al uso de la app (páginas visitadas, funciones utilizadas) y datos básicos del dispositivo (sistema operativo, modelo del dispositivo) con fines de mejora del servicio.</p>

            <p><strong>Finalidad</strong><br>
            Los datos recopilados se utilizan exclusivamente para prestar y mejorar el servicio ofrecido por la aplicación.</p>

            <p><strong>Cesión de datos a terceros</strong><br>
            No se comparten datos personales con terceros, salvo obligación legal.</p>

            <p><strong>Derechos del usuario</strong><br>
            El usuario tiene derecho a acceder, rectificar y suprimir sus datos personales, así como a ejercer otros derechos reconocidos por la normativa vigente en materia de protección de datos. Para ejercer estos derechos, puede ponerse en contacto con nosotros a través del correo electrónico indicado a continuación.</p>

            <p><strong>Contacto</strong><br>
            Para cualquier consulta relacionada con esta política de privacidad, puede escribirnos a: <b>contacto&#64;mariafernandeztarot.com</b></p>
          </div>
        </ion-col>
      </ion-row>
      
    </div>


   





</ion-content>