<ion-header class="header-gradient">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start" defaultHref="/menu" icon="chevron-back-outline"></ion-back-button>
    <ion-buttons slot="end">

      <ion-button>
        <img src="../../../assets/img/icono_compartir.png" alt="Menu" style="width: 25px;" />
      </ion-button>
      <ion-button (click)="openMenu()">
        <img src="../../../assets/img/icono_menu.png" alt="Menu" style="width: 30px; height: 25px;" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="text-header" slot="start">
     
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="box-container">
  

    
   

      <ion-row>
        <ion-col size="10" offset="1">
          <div class="box-title">
            <ion-text class="text-title">
              Política de privacidad
            </ion-text>
          </div>
          <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci minus voluptate, facere vel cupiditate sed! Cumque quo quae veritatis, error minus, impedit debitis odio recusandae, deleniti similique maxime repudiandae dignissimos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt unde amet totam temporibus placeat, possimus eos sit nam debitis! Est, eos blanditiis? Blanditiis saepe necessitatibus tenetur enim temporibus repudiandae inventore!</p>
        </ion-col>
      </ion-row>
      
    </div>


   





</ion-content>